.board {
    display: grid;
    grid-template: repeat(8, 70px) / repeat(8, 70px);
    height: 560px;
    width: 560px;
    margin: 0 auto;
    margin-top: 25%;
    transform: translateY(-50%);
    &__cell {
        background-color: rgb(238,238,210);
        &-black {
            background-color: rgb(118,150,86);
        }
        &-variant {
            transform: translateY(50%);
            border-radius: 100%;
            width: 50%;
            height: 50%;
            background-color: red;
            margin: 0 auto;
        }
    }
}