* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
}

a {
    text-decoration: none;
    transition: 300ms all;
    &:hover {
        transform: scale(1.1);
    }
}

@import './blocks/board.scss';
@import './blocks/piece.scss';